<div>
    <form method="GET" action="/artist-search">
        <input type="text" name="artist">
        <input type="submit" value="Search for an artist">


        <a href="/artist-search">ir a resultado</a>
</div>